body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
   
  }
* {
    box-sizing: border-box;
    
  }
.container {
    width: 500px;   /* This sets the width */
    margin: 0 auto; /* This automatically sets left/right margins */
    
  }
.img-circle{
    border-radius: 50%;
    
}
#footers {
    position: fixed; 
    bottom: 0; 
    background-color: black; 
    width: 100vw; 
    height: 15vh; 
    display: inline;
    justify-content: space-evenly;
    font-size: 2rem; 
    font-family: 'Roboto Slab', sans-serif; 
  }
  
  a, a:visited {
    color: white; 
    text-decoration: none;
    padding: 10px; 
  }
  
  
